body{
    font-family: 'Roboto';
    color : black ;
}
.product-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.product-description{
    font-family: 'Roboto';
    font-size: 16px;
    color: #757575;
}